/old-test
/solana-hello/dist
/solana-hello/node_modules
/solana-hello/src/program/target

/second-sample/node_modules
/second-sample/src/sum/target
/second-sample/src/square/target
/second-sample/node_modules
/second-sample/dist
/second-sample/src/test-ledger

/transfer-sol/node_modules/
/transfer-sol/_dist/
/transfer-sol/accounts/
/transfer-sol/program/target/


/mint-nft/node_modules/
/mint-nft/dist/
/mint-nft/accounts/
/mint-nft/program/target/
/mint-nft/mint/target